<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>HTML5</title>
	<link href="/assets/css/back.css" type="text/css" rel="stylesheet">
	<link href="/assets/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/wave-preloader.css">

	<script type="text/javascript" src="/assets/js/vendor/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/assets/js/back.js"></script>

	<link rel="stylesheet" href="/assets/js/vendor/jqueryui/jquery-ui.css">
	<link rel="stylesheet" href="/assets/css/sortable.css" />
	<script src="/assets/js/vendor/jqueryui/jquery-ui.js"></script>
	{#<script src="/assets/slides.js"></script>#}

</head>
<body>
<div class="b-main">
	{% block content %}{% endblock %}
</div>
</body>
</html>
